{% render './partials/head.liquid'
  , title: title %}
{% block head %}
  <!-- Default styles if not overridden -->
{% endblock %}</head><body class="theme-{{ themeCache.theme }}">
{% comment %} Hier komt je content! {% endcomment %}
{% block %}
{% endblock %}</body></html>