{% comment %} Deze altijd binnen halen en deze omringt de content dmv het 'block' gedoe {% endcomment %}
{% layout './layouts/layout.liquid'
  , title: title %}
{% block styles %}
  <link rel="stylesheet" href="home.css">
{% endblock %}
{% block %}
  <h1>hoi!</h1>
{% endblock %}