{% comment %} Deze altijd binnen halen en deze omringt de content dmv het 'block' gedoe {% endcomment %}
{% layout './layouts/layout.liquid'
  , title: title %}
{% comment %} 
          Zet hier alle dingen die in je head moeten komen
          (.css of .js bestanden) 
{% endcomment %}
{% block head %}
  <link rel="stylesheet" href="/styles/index.css">
{% endblock %}
{% block %}

<div class="text">
  <h1 class="heading-index">Drop <br>&Heal</h1>

  <p>Welkom bij Drop & Heal. Een veilige plek voor jouw reis door rouwverwerking. 
  <br><br>Er volgt eerst een introductie en kennismaking, hierna kan je op eigen 
          tempo aan de slag in de omgeving. </p>

</div>
  
  <a class="home-button" href="/task/1">Starten</a>

  <picture>
    <source type="image/avif" srcset="/assets/images/main-mesh-1.avif">
    <source type="image/webp" srcset="/assets/images/main-mesh-1.webp">
    <img src="/assets/images/main-mesh-1.svg" alt="">
  </picture>

{% endblock %}