/* MARK: header
 */
header {
}

nav:nth-child(1), nav:nth-child(1) ul, nav:nth-child(1) a{
  display: flex;
  align-items: center;
}

nav:nth-child(1) ul{
  gap: 2.5rem;
}

nav:nth-child(1) {
  justify-content: space-between;
}


.rounded-block {
  border: 0.25rem solid var(--text-color);
  background: var(--text-color);
  width: 1.25rem;
  border-radius: 0.375rem;
  aspect-ratio: 1;
}
nav:nth-child(2) {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 52rem;
}

/* details */

details {
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: 0.3s ease-out;
  /* background: var(--background-color-lighter); */
}
details summary svg {
  view-transition-name: arrow;
  transition: 0.3s ease-out;
}
details[open] summary svg {
  rotate: 180deg;
}

details:hover:not(:has(> *:not(summary):hover)) {
  background: rgba(166, 166, 166, 0.1);
}

details img {
  width: 100%;
  height: 100%;
  object-fit: center;
  @media (max-width: 768px) {
    width: 0;
    display: none;
  }
}

summary,
.heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-container .image-container {
  margin-right: 1.875rem;
}

details {
  cursor: pointer;
}

.dropdown-container {
  width: 100%;
  top: 100%;
  left: 0;
  position: absolute;
  z-index: 1;
  view-transition-name: detail-content;
}

.dropdown-container ul {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  padding: 0.875rem 1.25rem;
  margin: 0;
  gap: 1.125rem;
  border-radius: 0 0 1.75rem 1.75rem;
}

details li {
  flex: 0 1 40%;
}

details li a {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  font-family: var(--primary-font);
}

.image-container {
  height: 4rem;
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 0.75rem;
  background: var(--background-color);
}

.main-mesh {
  object-fit: contain;
  transition: 0.5s ease-out;
}

.arrow-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  font-family: var(--secondary-font);
}

.arrow-label path {
  stroke: var(--text-color);
}

/* progress */

.progress-container {
  padding-top: 0.5rem;
  display: flex;
  z-index: 2;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

progress {
  width: 100%;
  margin: 0 0.5rem;
  height: 0.25rem;
  appearance: none;
}

progress::-webkit-progress-value {
  background: var(--button-color);
}

progress::-webkit-progress-bar {
  background: rgba(166, 166, 166, 0.5);
  border-radius: 0.25rem;
  overflow: clip;
}

.progress-tooltip {
  display: none;
  @media (max-width: 768px) {
    display: inline-block;
  }
}

/* styling kaartjes opdrachten */
main {
  border-radius: var(--border-radius);
  padding: 1.25rem;
  align-items: center;

  article {
    width: 100%;
    container-type: inline-size;
    container-name: --exercise-card;

    .container-card {
      border: var(--border);
      border-radius: var(--border-radius);
      margin-bottom: var(--sm);

      display: grid;
      grid-template-rows: 50% max-content;
    }

    .bottom-grid {
      padding: var(--md) var(--sm) var(--sm);
      display: flex;
      flex-direction: column;
      gap: 0.3125rem;
      position: relative;
    }

    .exercise-img {
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      object-fit: cover;
    }

    .flex-container {
      display: flex;
      gap: 0.3125rem;
    }
  }

  @container --exercise-card (width > 28em) {
    div.container-card {
      display: grid;
      grid-template-columns: 40% 1fr;
      grid-template-rows: 1fr;
      margin-top: var(--md);

      img {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
      }
    }
  }

  @media (width > 50rem) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  @media (width > 68rem) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.start-btn {
  background-color: var(--button-color);
  padding: var(--xs) var(--sm);

  position: absolute;
  top: 0;
  right: var(--sm);
  transform: translateY(-50%);

  &:hover {
    background-color: rgb(71, 146, 178);
  }
}

h3 {
  hyphens: auto;
}
